* {
    max-width: 120rem;
    margin: 0.15em;
    padding: 0.5em;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.header {
    background-image: url("images/header.jpg");
    background-position:50% 50%;
    background-attachment:fixed;
    background-size:cover;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
 margin-bottom: 7em;

   
}

.menu {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    }

.logo {
    width: 50px;
    flex: 0 0 auto;

}

.logo img {
    max-height: 200%;
    min-height: 20%;
    width: 200%;
}

.logo img:hover {
    background-color: #fcf6f6;
}

.nav {
    padding: 0.5em;
    margin-right: 2em;
    margin-left: 3em;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.nav a {
    font-family: 'Anybody', cursive;
    color: #343434;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
}

.nav a:hover {
    color: #7882A4;
}

.rrss {
    display: flex;
}

.rrss a:hover {
    color: #c5cbe5;
}
.message{
    margin-top: 12em;
}

h1 {
    font-family: 'IM Fell Double Pica', serif;
    font-size: 2em;
    color: rgba(217, 94, 42, 0.6);
    font-weight: 20em;
    text-align: center;
    margin:3em;
    padding-block-end: 7%;
    background-color: rgba(203, 195, 195, 0.718);
  
}

@media all and (max-width: 800px) {


    .nav {
        flex-direction: row;
        flex-wrap: wrap;
    }


}

@media all and (max-width: 500px) {


    .rrss {
        flex-direction: row;
        flex-wrap: wrap;
    }

}